@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body, 
:root {
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

@keyframes pulse {
  50% {
    opacity: .5;
  }
}
.animate-pulse-slow {
  animation: pulse 6s infinite cubic-bezier(0.4, 0, 0.6, 1);
}